* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    width: 100%;    
    /* background-color: #f6f6f6; */
}


header {
    position: fixed;  
    /* position: absolute; */
    width: 90%;
    margin-left: 5%;
    height: 6.5rem;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    justify-content: space-between;
}
header form button, small {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
} 
header form button {
    width: 40px;
    height: 25px;
    background-color: #fff;
}
header a {
   text-decoration: none;
}
header a img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.navmenu {
    display: flex;
    list-style-type: none;
}
.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 15px;
    font-weight: 400;
    transition: all .42s ease;
    text-decoration: none;
}
.navmenu a:hover {
    color: #EE1C47;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-icon form input{
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    margin-left: 5px;
    height: 6vh;
    margin-top: -11px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
.nav-icon form i {
    cursor: pointer;
}
.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover {
    transform: scale(1.1);
    color: #EE1C47;
}
.search_icon {
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    background: purple;
    margin-top: -11px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
}
.search_icon i {
    display: flex;
    margin-left: 1.3rem;
    color: #fff;
} 
#menu-icon {
    font-size: 25px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.dropdown {
    position: relative;
}
.category-dropdownlist{
    position: absolute;
    margin-left: -340px;
    margin-top: 12px;
    height: auto;
    width: 77rem;
    background-color: whitesmoke;
    padding: 5px 5px;
    list-style-type: none;
    color: #000;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
.mycatcontainer {
    display: flex;
    justify-content: space-around;
}
.categories {
    height: auto;
    width: 200px;
    text-align: center;
    transition: all .42s ease;
}
.categories p{
    margin: 2px;
}
.categories a {
    font-size: small;
    font-weight: 400;
}
.categories p a:hover {
    cursor: pointer;
    color: #EE1C47;
}
#cat-head {
    font-size: small;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
}
.category-dropdownlist li {
    margin-bottom: -10px;
    padding: 0;
}
.category-dropdownlist li a{
    text-decoration: none;
    color: black;
    display: block;
    transition: background-color .42s;
}
.dropdown:hover .category-dropdownlist {
    display: block;
}
/* signin|signout */
.dropdownlist {
    position: absolute;
    height: auto;
    width: 20rem;
    margin-left: -15.5rem;
    margin-top: 3px;
    background-color: whitesmoke;
    padding: 5px 10px;
    list-style-type: none;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    color: #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
.dropdownlist_cart {
    position: absolute;
    height: auto;
    width: 27rem;
    margin-left: -25rem;
    margin-top: 3px;
    background-color: whitesmoke;
    padding: 5px 10px;
    list-style-type: none;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    color: #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
#mydropdown .title {
    border-bottom: 2px solid rgb(75, 121, 221);
}
.show-quantity {
    height: 20px;
    width: 20px;
    font-size: 13px;
    background-color: yellow;
    color: black;
    border: 1px solid white;
    outline: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 0;

}
.trashicon {
    cursor: pointer;
}
.first-container{
    border-bottom: 2px solid #dadada;
}
.sub-total_section {
    border-bottom: 2px solid #dadada;
}
.grandTotal {
    border-bottom: 2px solid #dadada;   
}
.image-div {
    position: relative;
}
.image-div img {
    margin-left: -15px;

}
.scrollable-div {
    height: 200px;
    overflow-y: scroll;
}
.dropdownlist li {
    margin: 0;
    padding: 0;
}
.dropdownlist li button {
    letter-spacing: 0.8px;
    font-size: 13px;
    border: 1px solid #ccc;
}
.dropdownlist li button:hover {
    border: 1px solid #ea325d;
}
.dropdown:hover .dropdownlist{
    display: block;
}
#myicons {
    cursor: pointer;
}
#bagicon{
    cursor: pointer;
}
#login-outIcon {
    float: right;
    height: 3px;
    width: 3px;
}
/* mainSection css */
section {
    padding: 5% 10%;
}
.main-home{
    margin-top: 6.7rem;
    height: 32rem;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #dadada;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-info{
    width: 50%;
}
.main-info h1{
    font-size: 70px;
    font-weight: semibold;
    line-height: 4.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-info p{
    margin-left: 0;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-info button{
    height: 2.5rem;
    width: 11rem;
    margin-left: 0px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    transition: 0.5s;
}
.main-info button:hover{
    transform: scale(1.05);
}
.main-image{
    width: 50%;
}
.main-image img{
    height: 30rem;
    width: 50rem;
    object-fit: contain;
    margin-left: -12rem;
}


header.sticky {
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* signIn Css */
.signin-module {
    border: 1px solid #dadada;
    padding: 3rem 0px;
    margin-top: 5.5rem;
    margin-bottom: 4rem;
}
.signin-module:hover{
    box-shadow: 0px 0px 5px gray;
}
.fields input {
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
 }
 .fields input:focus {
    outline: 1px solid #44a7e9;
 }
.continue-btn {
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #ff3f6c;
}
.continue-btn:hover {
    border: 1px solid red;
    box-shadow: 0px 0px 5px #ff3f6c;
}
.fields p {
    margin-top: 1rem;
}
.fields a {
    margin-left: 13rem;
    text-decoration: none;
}
.fields input[type="checkbox"] {
    cursor: pointer;
}

/* signup css */
.container {
    height: 100%;
    width: 100%;
}
.card {
    max-width: 800px;
    margin:7rem auto 2.5rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: whitesmoke;
}
.terms-conditions p {
    margin-top: 1rem;
}
.terms-conditions p a {
    margin-left: 5px;
}
.terms-conditions a {
    margin-left: 21rem;
}
.terms-conditions input[type="checkbox"] {
    cursor: pointer;
}



/* featured products css */
.title h1 {
    background: linear-gradient(90deg, #53c582, #5f5a8c, #75FF33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
}
.featured-products {
    width: 90%;
    margin-left: 5%;
    height: auto;
    /* background-color: whitesmoke; */
    padding-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}
.featured-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-card {
    flex-basis: 19%; /* Each card takes up approximately 19% of the container width */
    margin-bottom: 2rem; /* Adds space between rows */
    height: 19rem;
    width: 100%;
    /* border: 2px solid #dadada; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}
.featured-card-image{
    height: auto;
    width: auto;
    position: relative;
    transition: all .42s ease;
}
.featured-card-image:hover{
    transform: scale(0.9);
}
.featured-card img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}
.featured-discount{
    height: 2rem;
    width: 7.2rem;
    border: 1px solid #333;
    position: absolute;    
    background: linear-gradient(264deg, #C8A8E9 -5.09%, #EF476F 106.28%);
    color: #fff;
    border: none;
    transition: 0.5s;
}
.featured-discount:hover{
    transform: scale(1.05);
}






#old-price{
    text-decoration: line-through;
}
#new-price {
    font-weight: 900;
}


/* popup in featured products  */
#overlayforPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 9999; /* Make sure it's below the popup */
}
.popup-mainContaienr { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    width: 80%;
    height: 95%;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}
.product-mainTitle {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: -13px;
    display: flex;
    align-items: center;
}
.product-mainTitle i {
    font-size:1.8rem;
    color: purple;
    cursor: pointer;
    margin-top: -5px;
}
#close-btn {
    font-size: 1.3rem;
    color: #333;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.sub-container {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    display: flex;
}
.left-imgPart {
    width: 45%;
    height: 100%;
    border: 1px solid #ccc;
}
.left-imgPart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-infoPart {
    width: 52%;
    margin-left: 3%;
    height: 100%;
    border: 1px solid #ccc;
}
.right-infoPart h5, span, p, button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 1.2rem;
}

.right-infoPart span {
    color: purple;
}
/* quantity-increase-decrease css */

.quantity-container {
    display: flex;
    align-items: center;
}
.quantity-container p {
    font-size: 1.2rem;
    color: #222;
    font-weight: 500;
}
.quantity-container h4 span {
    color: purple;
}
.quantity-minusPlus {
    height: 2.4rem;
    width: 100px;
    border: 1px solid purple;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.quantity-minusPlus i {
    color: purple;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}


.quantity-input {
    border: none;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
}
button {
    width: 7rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button i {
    font-size: 1.3rem;
    color: purple;
}
#buyNow {
    background-color: rgb(85, 216, 85);
    color: #fff;
}
#buyNow:hover {
    background-color: rgb(63, 187, 63);
}
#addToCart {
    background-color: rgb(146, 15, 146);
    color: #fff;
}
#addToCart:hover {
    background-color: purple;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    text-align: center;
    font-size: 2rem;
}

.popup.active {
    display: block;
}

.popup button {
    background-color: #3372d8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    padding: .5rem 2rem;
    font-size: 16px;
    margin-top: 10px;
}

.popup button:hover {
    background-color: #1957bb;
}

.color-chooser {
    display: flex;
    align-items: center;
}
.color-chooser input {
    margin-left: 10px;
    margin-right: 5px;
}

.remaining-img {
    width: 45%;
    height: 20%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
.img1 {
    height: 100%;
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
}
.remaining-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transfrom .42s ease;
    opacity: .6;
}
.remaining-img img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.popup-left {
    flex: 1;
    margin-right: 20px;
    background-color: seagreen;
}

.popup-left img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: contain;
}

.popup-right {
    flex: 1;
}

.popup-right h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.popup-right p {
    margin-bottom: 15px;
}

.popup-right span {
    display: block;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

/* BottomWear CSS */
.bottom-category-section {
    height: auto;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
    margin-bottom: 3rem;
    background-color: #fff;
}
.bottom-category-section h2{
    background: linear-gradient(90deg, #FFD166, #5f5a8c, #75FF33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.category-row{
    height: 22rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.category-card{
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
}
.category-card img{
    height: 14rem;
    width: 14rem;
    object-fit: cover;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all .42s ease;
}
.category-card img:hover{
    transform: scale(1.1);
}
.category-card h3{
    margin-left: 5.3rem;
    font-size: 20px;
}

/* New Arrivals Css */
.arrivalTitle {
    background: linear-gradient(90deg, #53c582, #5f5a8c, #75FF33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
    
}
.new-arrivals {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: white;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-card{
    height: auto;
    width: 17rem;
}
.for-image img {
    height: 15;
    width: 15rem;
    object-fit: cover;
    cursor: pointer;
}
.arrival-tag{
    height: 2rem;
    width: 4rem;
    border: 1px solid #333;
    position: absolute;    
    background: linear-gradient(264deg, #C8A8E9 -5.09%, #EF476F 106.28%);
    color: #fff;
    border: none;
    transition: 0.5s;   
}

.arrival-tag:hover{
    transform: scale(1.05);
}




/* watches-section Css */
.watches {
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
    padding-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.watches p{
    float: right;
    font-size: 1rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .42s ease;
    color: rgb(102, 102, 233);
}
.watches p:hover {
    transform: scale(1.1);
    color: #EE1C47;
}

.watchimage-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.watch-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.watch-slide {
    flex: 0 0 auto;
    width: 20%; /* Adjust according to your layout */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.watch-slide img {
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}
.watch-slide:hover img {
    transform: scale(1.02); /* Zoom effect */
}

.watch-slide h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

#old-price{
    text-decoration: line-through;
}
#new-price {
    font-weight: 700;
}

.previous, .nextt {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    background: #365c71;
    color: #fff;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}

.previous {
    left: 10px;
}

.nextt {
    right: 10px;
}


.watch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background-color: rgb(106, 162, 214); /* Transparent bluish color */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}
.watch-overlay .icon {
    font-size: 5em;
}

.watch-slide:hover .overlay {
    opacity: 0.4;
}
.eye-icon {
    height: 45px;
    width: 45px;
    background-color: rgba(223, 228, 225, 0.836);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
}
.eye-icon i:hover {
    color: green;

}


/* footer-section Css */
.aboutSystem {
    height: 20vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutSystem img {
    height: 18vh;
    width: 13vw;
    cursor: pointer;
}
.footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(360deg, #0172AF, #74FEBD);
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    justify-content: space-around;
}
.content {
    height: auto;
    width: 12rem;
    color: black;
    position: relative;
}
.content img{
    height: 200px;
    width: 200px;
    object-fit: contain;
    position: absolute;
    top: -70px;
    left: -20px;
    cursor: pointer;
}
.content p {
    margin-top: 4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.content .icons{
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
    margin-left: -2.4rem;   
    
}

.content1 {
    height: auto;
    width: 12rem;
    color: whitesmoke;
    transition:color .42s ease;
}
.content1 a:hover {
    color: white;
}

.content2 {
    height: auto;
    width: 23rem;
    color: whitesmoke;
    transition: color .42s ease;
}
.content2 a:hover {
    color: #fff;
}


/* fashion-page CSS */
.fashion-container {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 7rem;
}



/* Contact us container Css */
.contactus-container {
    display: block;
    height: auto;
    width: 90%;
    margin-left: 5%;
    background-color: #fafafc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-top: 7rem;
}
.subb-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactus-image {
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
}
.contactus-image img {
    height: 70%;
    width: 100%;
}
.contact-div {
    height: auto;
    width: 59%;
    margin-right: 1%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.container {
    margin-top: 2rem;
}
.contactus-container ul li{
    background: purple;
    color: white;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    text-align: center;
    height: 2rem;
}



/* aboutus css */
.aboutus-container {
    height: 85vh;
    width: 80%;
    margin-top: 7rem;
    margin-left: 9rem;
    margin-bottom: 3.5rem;
}
.aboutus-container p {
    text-align: justify;
    margin-left: 0px;
}
/* T-shirt section css */
.tshirt-section {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 7.3rem;
}
.firstheadingdiv {
    height: 4.5rem;
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px gray;
    margin-bottom: 1rem;
}
.sortby {
    height: 2.5rem;
    width: 20rem;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}
.sortby form{
    display: flex;
    align-items: center;
}
.sortbtn{
    align-items: center;
}
.sortbtn input[type="submit"] {
    width: 4rem;
    height: 2rem;
    background-color: #527ec5;
    color: white;
    border: none;
    border-radius: 3px;
}

.sortby h6, i {
    padding-right: 4px;
    margin-top: 4px;
}
.info-content h5, h6 {
    padding-left: 7px;
}
#services {
    border: none;
    outline: none;
    cursor: pointer;
}
.filter-product {
    display: flex;
    gap: 2%;
    margin-bottom: 3rem;
}
.filter {
    height: auto;
    width: 20%;
    border: 1px solid #dadada;
    border-radius: 4px;
    transition: all .42s ease;
}
.filter h2 {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.filter h5 {
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 700;
}
.filter ul {
    list-style-type: none;
}
.filter ul li {
    margin-left: -20px;
}
.filter input[type='checkbox'] {
    cursor: pointer;
    height: .92rem;
    width: .92rem;
    margin-right: 10px;
}

/* t-shirt-product-css */
.product {
    height: auto;
    width: 80%;
    margin-bottom: 5rem;
    margin-left: 2rem;
}
.row {
    display: flex;  
    justify-content: start;
    margin-bottom: 8px;
}

.product-card {
    height: 16.3rem;
    width: 23%;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 1px gray;   
    position: relative;
    margin-bottom: 1.7rem;
    margin-right: 1rem;
}
.show-discount {
    height: 2rem;
    width: 7.2rem;
    border: 1px solid #333;
    position: absolute;
    top: 5px;
    z-index: 1;
    background-color: purple;
    color: #fff;
}
.tshirt-img {
    height: 10rem;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    transition: transform .42s ease;
}
.tshirt-img img {
    height: 100%;
    width: 199px;
    object-fit: cover;
}
.tshirt-img:hover {
    cursor: pointer;
    transform: scale(0.9);
}
.infoaboutproduct {
    height: 7vh;
    width: 100%;
}
.infoaboutproduct p, span {
    margin: 0;
}
.text-justify{
    text-align: justify;
    font-size: 13px;
}
.addToWishlist {
    height: 2rem;
    width: 12.5rem;
    margin: 5px 0px;
    border: 1px solid #dadada;
    background-color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addToWishlist:hover {
    border: 1px solid purple;
    color: #ea325d;
}


/* T-SHIRT DETAILS CSS */
.tshirtDetail-mainContainer {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 130px;
    display: flex;
    gap: 2%;
}
.tshirtimages-div {
    height: auto;
    width: 58%;
}
.tshirtdetail-info {
    width: 40%;
    position: relative;
}
.tshirtImage-row {
    display: flex;
    justify-content: space-between;
}

.tshirtImage-row img {
    height: 50vh;
    width: 49%;
    margin-bottom: 10px;
    object-fit: cover;
}
.tshirtImage-row img:hover {
    box-shadow: 0px 0px 3px gray;
}
.circle1 {
    height: 3rem;
    width: 3rem;
    border: 1px solid #dadada;
    border-radius: 50%;
    cursor: pointer;
}
.circle1:hover {
    border: 1px solid #45a049;
}
.circle1.selected {
    border: 1px solid #EE1C47;
}
.addtocart {
    background-color: #ff3e6c;
}
.addtocart:hover {
    background-color: #ea325d;
}
.wishlistbtn {
    position: absolute;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    padding: 0.5rem 2rem;
}
.wishlistbtn.has-discount {
    top: 27.5rem;
    right: -30px; /* Adjust this value as needed */
}
.wishlistbtn.no-discount {
    top: 25.6rem; /* Adjust this value for products without discount */
    right: -30px; /* Adjust this value for products without discount */
}

.wishlistbtn:hover {
    border: 1px solid #222;
}

/* review-section-css */
.reviews{
    height: 20rem;
    overflow-y: scroll;
}

/* SIMILAR PRODUCT CSS */
.similar-products p {
    margin-left: 5%;
}
.similarProducts-list {
    height: auto;
    width: 90%;
    margin-left: 5%;
}
.similarProduct-imageCard {
    height: auto;
    width: 20vw;
    cursor: pointer;
}
.similarProduct-imageCard:hover {
    box-shadow: 0px 0px 4px gray;
}
.similarProduct-imageCard img {
    height: 40vh;
    width: 100%;
    object-fit: contain;
}

/* CART CSS */
.cart-page {
    height: auto;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    gap: 1%;   
    border: 1px solid #ccc;
    padding: 20px 5%; 
}
.cart-list {
    width: 60%;
    height: auto;
    border: 1px solid #ccc;
    background: #fff;
}
.cart-list:hover {
    box-shadow: 0px 0px 5px gray;
}
.cart-heading {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.cart-heading p {
    position: absolute;
    top: 0;
    right: 0;
}
.cart-row {
    height: 10rem;
    width: 100%;
    /* border: 1px solid green; */
    border-bottom: 1px solid #ccc;
}
.item-image img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-left: -49px;
}
.item-quantity input {
    width: 30px;
    /* border: none;
    outline: none; */
}
.item-quantity i {
    font-size: 20px;
    cursor: pointer;
}
.remove-icon span {
    cursor: pointer;
}
.cart-summary {
    width: 39%;
    height: 21rem;
    border: 1px solid #ccc;
    background: whitesmoke;
}
.cart-summary:hover {
    box-shadow: 0px 0px 5px gray;
}
.summary-title {
    border-bottom: 1px solid #ccc;
}
.summary-title h2 {
    padding-bottom: 10px;
}
.cart-subtotalAmt {
    height: auto;
}
.summary-price {
    border-bottom: 1px solid #ccc;
}
.cart-summary button {
    margin: 0;
    width: 80%;
    border: 1px solid #ccc;
    background: black;
    color: #fff;
    border-radius: 0px;
    margin-left: 3rem;
    margin-top: 3.5rem;
}
.cart-summary button:hover {
    box-shadow: 0px 0px 5px #ea325d;
}
.cart_action button i {
    color: white;
}


/* mycart css */
.cart-outerdiv {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 7rem;
    display: flex;
    gap: 1%;
    margin-bottom: 3rem;
}
.cart-details {
    height: auto;
    width: 69%;
    border: 1px solid #dadada;
}
.cart_summary {
    height: 10rem;
    width: 30%;
    border: 1px solid #dadada;
}
.cart_summary h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
}
.product_image img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-left: -20px;
}
.product_quantity input {
    width: 5.5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    margin-top: 2rem;
}
.product_heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
}
.action span {
    cursor: pointer;
}
.total_price {
   border-bottom: 1px solid #ccc;
   padding-bottom: 0.5rem;
   margin-bottom: 1rem;
}
.cart_summary button {
    width: 85%;
    margin-left: 1.5rem;
}
.cart_summary button a {
    color: #fff;
    text-decoration: none;
}
/* wishlist css  */
.wishlist-container {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.wishlist-detail {
    border: 1px solid #dadada;
    height: auto;
    padding: 10px;
}
.wishlistLinkButton a {
    text-decoration: none;
    color: #fff;
}



/* cart wishlist added message css */
.popupclass {
    height: 5rem;
    width: 90%;
    display: block; /* Hidden by default */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

#browseProduct {
    text-decoration: none;
}

/* Shipping Address Page Css  */
.shipping-container {
    height: auto;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
    margin-top: 8rem;
}
.email-address {
    display: none;
}
.form-group input:focus + .email-address {
    display: block;
}
/* billing address css */
.billing-container {
    height: auto;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
    margin-top: 8rem;
}
/* payment page css */
.paymentPage {
    height: 30rem;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.order-summary {
    height: 25rem;
    width: 50%;
    border: 1px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px gray;
}
.payment-method {
    border-bottom: 2px solid #ccc;
}
.order-summary-heading {
    border-bottom: 2px solid #ccc;
}

/* order-confirmation-css */
.order-confirmation {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;
}
.order-confirmation img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    margin-top: 3rem;
}
.order-confirmation p{
    margin-top: -3rem;
    font-size: 2rem;
    font-family: cursive;
}
.order-confirmation button {
    /* background: linear-gradient(245deg, pink, purple); */
    background: white;
    width: 12.5rem;
    height: 3rem;
    color: black;
    border: 1px solid black;
    font-size: 1.2rem;
    font-family: cursive;
    transition:background .42s ease;
}
.order-confirmation button:hover {
    /* background: linear-gradient(245deg, rgb(238, 159, 172), rgb(79, 1, 79)); */
    background: #000;
    color: white;
}

/* user-profile-css */
.changePassword{
    height: 20rem;
    width: 90%;
    margin: 15rem 5% 4rem 5%;
    position: relative;
}
.password-container{
    height: auto;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.password-container h2{
    text-align: center;
    font-family: cursive;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}
.password-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.password-container form input[type="text"]{
    height: 2.5rem;
    width: 75%;
    padding-left: 5px;
    outline: none;
}
.password-container p {
    margin-left: 5rem;
}