* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    width: 100%;    
    /* background-color: #f6f6f6; */
}
.whole-container {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; 
}

header {
    position: fixed;  
    /* position: absolute; */
    width: 90%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    justify-content: space-between;
}
header form button, small {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
} 
header form button {
    width: 40px;
    height: 25px;
    background-color: #fff;
}
header a {
   text-decoration: none;
}
.navmenu {
    display: flex;
    list-style-type: none;
}
.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 15px;
    font-weight: 400;
    transition: all .42s ease;
    text-decoration: none;
}
.navmenu a:hover {
    color: #EE1C47;
}
.nav-icon {
    display: flex;
    align-items: center;
}
.nav-icon form input{
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    margin-left: 5px;
    height: 6vh;
    margin-top: -11px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
.nav-icon form i {
    cursor: pointer;
}
.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover {
    transform: scale(1.1);
    color: #EE1C47;
}
.search_icon {
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    background: purple;
    margin-top: -11px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
}
.search_icon i {
    display: flex;
    margin-left: 1.3rem;
    color: #fff;
} 
#menu-icon {
    font-size: 25px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.dropdown {
    position: relative;
}
.category-dropdownlist{
    position: absolute;
    margin-left: -340px;
    margin-top: 12px;
    height: auto;
    width: 77rem;
    background-color: whitesmoke;
    padding: 5px 5px;
    list-style-type: none;
    color: #000;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
.mycatcontainer {
    display: flex;
    justify-content: space-around;
}
.categories {
    height: auto;
    width: 200px;
    text-align: center;
    transition: all .42s ease;
}
.categories p{
    margin: 2px;
}
.categories a {
    font-size: small;
    font-weight: 400;
}
.categories p a:hover {
    cursor: pointer;
    color: #EE1C47;
}
#cat-head {
    font-size: small;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
}
.category-dropdownlist li {
    margin-bottom: -10px;
    padding: 0;
}
.category-dropdownlist li a{
    text-decoration: none;
    color: black;
    display: block;
    transition: background-color .42s;
}
.dropdown:hover .category-dropdownlist {
    display: block;
}
/* signin|signout */
.dropdownlist {
    position: absolute;
    height: auto;
    width: 20rem;
    margin-left: -15.5rem;
    margin-top: 3px;
    background-color: whitesmoke;
    padding: 5px 10px;
    list-style-type: none;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    color: #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
.dropdownlist_cart {
    position: absolute;
    height: auto;
    width: 27rem;
    margin-left: -25rem;
    margin-top: 3px;
    background-color: whitesmoke;
    padding: 5px 10px;
    list-style-type: none;
    box-shadow: 0px 0px 5px rgb(8, 162, 131);
    color: #000;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
#mydropdown .title {
    border-bottom: 2px solid rgb(75, 121, 221);
}
.show-quantity {
    height: 20px;
    width: 20px;
    font-size: 13px;
    background-color: white;
    border: 1px solid white;
    outline: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 10px;

}
.trashicon {
    cursor: pointer;
}
.first-container{
    border-bottom: 2px solid #dadada;
}
.sub-total_section {
    border-bottom: 2px solid #dadada;
}
.grandTotal {
    border-bottom: 2px solid #dadada;   
}
.image-div {
    position: relative;
}
.image-div img {
    margin-left: -15px;

}
.scrollable-div {
    height: 200px;
    overflow-y: scroll;
}
.dropdownlist li {
    margin: 0;
    padding: 0;
}
.dropdownlist li button {
    letter-spacing: 0.8px;
    font-size: 13px;
    border: 1px solid #ccc;
}
.dropdownlist li button:hover {
    border: 1px solid #ea325d;
}
.dropdown:hover .dropdownlist{
    display: block;
}
#myicons {
    cursor: pointer;
}
#bagicon{
    cursor: pointer;
}
#login-outIcon {
    float: right;
    height: 3px;
    width: 3px;
}
/* mainSection css */
section {
    padding: 5% 10%;
}
.main-home {
    width: 100%;
    height: 100vh;
    margin-top: 3vh;
    background-image: url('../images/banner-3.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: space-between;
}
.main-text h5 {
    color: #EE1C47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1 {
    color: #000;
    font-size: 55px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 400;
    margin: 6px 0 10px;
}
.main-text p {
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-text span {
    font-weight: 700;
    margin-left: -2px;
}
.main-btn {
    text-decoration: none;
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover {
    background-color: #000;
    color: #fff;
}
.main-btn i {
    vertical-align: middle;
}

header.sticky {
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* signIn Css */
.signin-module {
    border: 1px solid #dadada;
    padding: 2rem 0px;
}
.signin-module:hover{
    box-shadow: 0px 0px 5px gray;
}
.fields input {
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
 }
 .fields input:focus {
    outline: 1px solid #44a7e9;
 }
.continue-btn {
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #ff3f6c;
}
.continue-btn:hover {
    border: 1px solid red;
    box-shadow: 0px 0px 5px #ff3f6c;
}
.fields p {
    margin-top: 1rem;
}
.fields a {
    margin-left: 13rem;
    text-decoration: none;
}
.fields input[type="checkbox"] {
    cursor: pointer;
}

/* signup css */
.container {
    height: 100%;
    width: 100%;
    margin-top: 7rem;
}
.card {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: whitesmoke;
}
.terms-conditions p {
    margin-top: 1rem;
}
.terms-conditions p a {
    margin-left: 5px;
}
.terms-conditions a {
    margin-left: 21rem;
}
.terms-conditions input[type="checkbox"] {
    cursor: pointer;
}



/* featured products css */
.featured-products {
    width: 100%;
    height: 77%;
    background-color: whitesmoke;
    padding-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}
.featured-products .featured-para{
    float: right;
    font-size: 1rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .42s ease;
    color: rgb(102, 102, 233);
}
.featured-products .featured-para:hover {
    transform: scale(1.1);
    color: #EE1C47;
}
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 20%; /* Adjust according to your layout */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}
.slide:hover img {
    transform: scale(1.02); /* Zoom effect */
}

.slide h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

#old-price{
    text-decoration: line-through;
}
#new-price {
    font-weight: 900;
}

.prev, .next {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    background: #365c71;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background-color: rgb(155, 176, 221); /* Transparent bluish color */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    
}
.overlay .icon {
    font-size: 5em;
}

.slide:hover .overlay {
    opacity: 0.4;
}
.eye-icon {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer; 
}
.eye-icon i:hover {
    color: green;

}

/* popup in featured products  */
#overlayforPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 9999; /* Make sure it's below the popup */
}
.popup-mainContaienr { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    width: 80%;
    height: 95%;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}
.product-mainTitle {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: -13px;
    display: flex;
    align-items: center;
}
.product-mainTitle i {
    font-size:1.8rem;
    color: purple;
    cursor: pointer;
    margin-top: -5px;
}
#close-btn {
    font-size: 1.3rem;
    color: #333;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.sub-container {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    display: flex;
}
.left-imgPart {
    width: 45%;
    height: 100%;
    border: 1px solid #ccc;
}
.left-imgPart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-infoPart {
    width: 52%;
    margin-left: 3%;
    height: 100%;
    border: 1px solid #ccc;
}
.right-infoPart h5, span, p, button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 1.2rem;
}

.right-infoPart span {
    color: purple;
}
/* quantity-increase-decrease css */

.quantity-container {
    display: flex;
    align-items: center;
}
.quantity-container p {
    font-size: 1.2rem;
    color: #222;
    font-weight: 500;
}
.quantity-container h4 span {
    color: purple;
}
.quantity-minusPlus {
    height: 2.4rem;
    width: 100px;
    border: 1px solid purple;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.quantity-minusPlus i {
    color: purple;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}


.quantity-input {
    border: none;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
}
button {
    width: 7rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button i {
    font-size: 1.3rem;
    color: purple;
}
#buyNow {
    background-color: rgb(85, 216, 85);
    color: #fff;
}
#buyNow:hover {
    background-color: rgb(63, 187, 63);
}
#addToCart {
    background-color: rgb(146, 15, 146);
    color: #fff;
}
#addToCart:hover {
    background-color: purple;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    text-align: center;
    font-size: 2rem;
}

.popup.active {
    display: block;
}

.popup button {
    background-color: #3372d8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    padding: .5rem 2rem;
    font-size: 16px;
    margin-top: 10px;
}

.popup button:hover {
    background-color: #1957bb;
}

.color-chooser {
    display: flex;
    align-items: center;
}
.color-chooser input {
    margin-left: 10px;
    margin-right: 5px;
}

.remaining-img {
    width: 45%;
    height: 20%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
.img1 {
    height: 100%;
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
}
.remaining-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transfrom .42s ease;
    opacity: .6;
}
.remaining-img img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.popup-left {
    flex: 1;
    margin-right: 20px;
    background-color: seagreen;
}

.popup-left img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: contain;
}

.popup-right {
    flex: 1;
}

.popup-right h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.popup-right p {
    margin-bottom: 15px;
}

.popup-right span {
    display: block;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}


/* category-section css */
.category-section {
    width: 100%;
    height: 50%;
    background-color: whitesmoke;
    margin-bottom: 4rem;
}
.category-section h2 {
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
.category-section p {
    float: right;
    margin-right: 1rem;
    color: rgb(112, 151, 217);
    display: flex;
    align-items: center;
    transition: all .42s ease;  
    cursor: pointer;
}
.category-section p:hover {
    transform: scale(1.1);
    color: #EE1C47;
}
.category-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myCategory {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-left: 3.5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.myCategory img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform .42s ease;
}
.myCategory img:hover {
    transform : scale(1.1)
}


/* New Arrivals Css */

.new-arrivals {
    height: 50%;
    width: 100%;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: whitesmoke;
}
.new-arrivals h3 {
    margin-bottom: 2rem;
}
.newArrivalImage-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.newArrival-product {
    height: 10rem;
    width: 20rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: all .42s ease;
    padding-left: 2rem;
    cursor: pointer;
    border: 1px solid #222;
}

.newArrival-product img {
    height: 100%;
    width: 50%;
    object-fit: contain;
    margin-left: -1.5rem;
    
}
.newArrival-product:hover {
    transform: scale(1.05);
    color: blue;
}
.info {
    height: 100%;
    width: 50%;
}
.info .title {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.info p {
    font-size: 13px;
}



/* watches-section Css */

.watches {
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
    padding-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.watches p{
    float: right;
    font-size: 1rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .42s ease;
    color: rgb(102, 102, 233);
}
.watches p:hover {
    transform: scale(1.1);
    color: #EE1C47;
}

.watchimage-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.watch-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.watch-slide {
    flex: 0 0 auto;
    width: 20%; /* Adjust according to your layout */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.watch-slide img {
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}
.watch-slide:hover img {
    transform: scale(1.02); /* Zoom effect */
}

.watch-slide h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

#old-price{
    text-decoration: line-through;
}
#new-price {
    font-weight: 700;
}

.previous, .nextt {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    background: #365c71;
    color: #fff;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
}

.previous {
    left: 10px;
}

.nextt {
    right: 10px;
}


.watch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background-color: rgb(106, 162, 214); /* Transparent bluish color */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}
.watch-overlay .icon {
    font-size: 5em;
}

.watch-slide:hover .overlay {
    opacity: 0.4;
}
.eye-icon {
    height: 45px;
    width: 45px;
    background-color: rgba(223, 228, 225, 0.836);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
}
.eye-icon i:hover {
    color: green;

}


/* footer-section Css */
.aboutSystem {
    height: 20vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutSystem img {
    height: 18vh;
    width: 13vw;
    cursor: pointer;
}
.footer {
    height: 40vh;
    width: 100%;
    background-color: #273b65;
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    justify-content: space-around;
}
.content {
    height: auto;
    width: 12rem;
    color: white;
}
.content p {
    margin-top: 2rem;
    text-transform: uppercase;
}
.content i {
   margin-left: 10px;
   cursor: pointer;
}

.content1 {
    height: auto;
    width: 12rem;
    color: #fff;
}

.content2 {
    height: auto;
    width: 23rem;
    color: #fff;
}

/* fashion-page CSS */
.fashion-container {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 7rem;
}



/* Contact us container Css */
.contactus-container {
    display: block;
    height:80vh;
    width: 100%;
    background-color: #fafafc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-top: 6rem;
}
.subb-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactus-image {
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
}
.contactus-image img {
    height: 70%;
    width: 100%;
}
.contact-div {
    height: 70vh;
    width: 59%;
    margin-right: 1%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.contact-div h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* aboutus css */
.aboutus-container {
    height: 85vh;
    width: 80%;
    margin-top: 6rem;
    margin-left: 9rem;
    margin-bottom: 3.5rem;
}
.aboutus-container p {
    text-align: justify;
}
/* T-shirt section css */
.tshirt-section {
    height: 200vh;
    width: 100%;
    margin-top: 7rem;
}
.firstheadingdiv {
    height: 4.5rem;
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 1px gray;
    margin-bottom: 1rem;
}
.sortby {
    height: 2.5rem;
    width: 15rem;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}
.sortby h6, i {
    padding-right: 4px;
    margin-top: 4px;
}
.info-content h5, h6 {
    padding-left: 7px;
}
#services {
    border: none;
    outline: none;
    cursor: pointer;
}
.filter-product {
    display: flex;
    gap: 2%;
}
.filter {
    height: auto;
    width: 20%;
    border: 1px solid #dadada;
    border-radius: 4px;
    transition: all .42s ease;
}
.filter h2 {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.filter h5 {
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 700;
}
.filter ul {
    list-style-type: none;
}
.filter ul li {
    margin-left: -20px;
}
.filter input[type='checkbox'] {
    cursor: pointer;
    height: .92rem;
    width: .92rem;
    margin-right: 10px;
}

/* t-shirt-product-css */
.product {
    height: auto;
    width: 80%;
    margin-bottom: 5rem;
    margin-left: 2rem;
}
.row {
    display: flex;  
    justify-content: start;
    margin-bottom: 8px;
}

.product-card {
    height: 16.3rem;
    width: 23%;
    border: 1px solid #dadada;
    box-shadow: 0px 0px 1px gray;   
    position: relative;
    margin-bottom: 1.7rem;
    margin-right: 1rem;
}
.show-discount {
    height: 2rem;
    width: 7.2rem;
    border: 1px solid #333;
    position: absolute;
    top: 5px;
    z-index: 1;
    background-color: purple;
    color: #fff;
}
.tshirt-img {
    height: 10rem;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    transition: transform .42s ease;
}
.tshirt-img img {
    height: 100%;
    width: 199px;
    object-fit: cover;
}
.tshirt-img:hover {
    cursor: pointer;
    transform: scale(0.9);
}
.infoaboutproduct {
    height: 7vh;
    width: 100%;
}
.infoaboutproduct p, span {
    margin: 0;
}
.text-justify{
    text-align: justify;
    font-size: 13px;
}
.addToWishlist {
    height: 2rem;
    width: 12.5rem;
    margin: 5px 0px;
    border: 1px solid #dadada;
    background-color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addToWishlist:hover {
    border: 1px solid purple;
    color: #ea325d;
}


/* T-SHIRT DETAILS CSS */
.tshirtDetail-mainContainer {
    height: auto;
    width: 100%;
    margin-top: 130px;
    display: flex;
    gap: 2%;
}
.tshirtimages-div {
    height: auto;
    width: 58%;
}
.tshirtdetail-info {
    width: 40%;
}
.tshirtImage-row {
    display: flex;
    justify-content: space-between;
}

.tshirtImage-row img {
    height: 50vh;
    width: 49%;
    margin-bottom: 10px;
    object-fit: cover;
}
.tshirtImage-row img:hover {
    box-shadow: 0px 0px 3px gray;
}
.circle1 {
    height: 3rem;
    width: 3rem;
    border: 1px solid #dadada;
    border-radius: 50%;
    cursor: pointer;
}
.circle1:hover {
    border: 1px solid #45a049;
}
.circle1.selected {
    border: 1px solid #EE1C47;
}
.addtocart {
    background-color: #ff3e6c;
}
.addtocart:hover {
    background-color: #ea325d;
}
.wishlistbtn {
    border: 1px solid #dadada;
    background-color: whitesmoke;
    padding: 0px 2rem;
}
.wishlistbtn:hover {
    border: 1px solid #222;
}
.reviews i {
    cursor: pointer;
}
.heart-icon {
    transition: color 0.2s;
}
.heart-icon.bxs-heart {
    color: #ea325d;
}
.tshirtdetail-buttons  button a {
    text-decoration: none;
}

/* SIMILAR PRODUCT CSS */
.similarProducts-list {
    height: auto;
    width: 100%;
}
.similarProduct-imageCard {
    height: auto;
    width: 20vw;
    cursor: pointer;
}
.similarProduct-imageCard:hover {
    box-shadow: 0px 0px 4px gray;
}
.similarProduct-imageCard img {
    height: 40vh;
    width: 100%;
    object-fit: contain;
}

/* CART CSS */
.cart-page {
    height: auto;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    gap: 1%;   
    border: 1px solid #ccc;
    padding: 20px 5%; 
}
.cart-list {
    width: 60%;
    height: auto;
    border: 1px solid #ccc;
    background: #fff;
}
.cart-list:hover {
    box-shadow: 0px 0px 5px gray;
}
.cart-heading {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.cart-heading p {
    position: absolute;
    top: 0;
    right: 0;
}
.cart-row {
    height: 10rem;
    width: 100%;
    /* border: 1px solid green; */
    border-bottom: 1px solid #ccc;
}
.item-image img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-left: -49px;
}
.item-quantity input {
    width: 30px;
    /* border: none;
    outline: none; */
}
.item-quantity i {
    font-size: 20px;
    cursor: pointer;
}
.remove-icon span {
    cursor: pointer;
}
.cart-summary {
    width: 39%;
    height: 21rem;
    border: 1px solid #ccc;
    background: whitesmoke;
}
.cart-summary:hover {
    box-shadow: 0px 0px 5px gray;
}
.summary-title {
    border-bottom: 1px solid #ccc;
}
.summary-title h2 {
    padding-bottom: 10px;
}
.cart-subtotalAmt {
    height: auto;
}
.summary-price {
    border-bottom: 1px solid #ccc;
}
.cart-summary button {
    margin: 0;
    width: 80%;
    border: 1px solid #ccc;
    background: black;
    color: #fff;
    border-radius: 0px;
    margin-left: 3rem;
    margin-top: 3.5rem;
}
.cart-summary button:hover {
    box-shadow: 0px 0px 5px #ea325d;
}


/* mycart css */
.cart-outerdiv {
    height: auto;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    gap: 1%;
    margin-bottom: 3rem;
}
.cart-details {
    height: auto;
    width: 69%;
    border: 1px solid #dadada;
}
.cart_summary {
    height: 10rem;
    width: 30%;
    border: 1px solid #dadada;
}
.cart_summary h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
}
.product_image img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    margin-left: -20px;
}
.product_quantity input {
    width: 5.5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: 1px solid #ccc;
    margin-top: 2rem;
}
.product_heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
}
.action span {
    cursor: pointer;
}
.total_price {
   border-bottom: 1px solid #ccc;
   padding-bottom: 0.5rem;
   margin-bottom: 1rem;
}
.cart_summary button {
    width: 85%;
    margin-left: 1.5rem;
}
.cart_summary button a {
    color: #fff;
    text-decoration: none;
}
