{% extends "myeSite/admin/base.html" %}
{% load static %}

{% block title %}Admin | Login{% endblock %}
{% block adminLogin %}
<section>
    <div class="login-container">
        <div class="admin-login-form">
            <h2>SignIn</h2>
            <form action="#" method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="button" value="Login">
            </form>
            <p class="mb-0">Don't have an account? <a href="{% url 'adminSignup' %}">Click here.</a></p>
     </div>
    </div>
</section>
{% endblock %}