<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin | BasePage{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'myeSite/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myeSite/css/style.css' %}">
</head>
<body>
    


    {% block adminLogin %}{% endblock %}







    

    <script src="{% static 'myeSite/js/script.js' %}"></script>
    <script src="{% static 'myeSite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myeSite/js/all.min.js' %}"></script>
    <script src="{% static 'myeSite/js/popper.js' %}"></script>
</body>
</html>