{% extends "main.html" %}
{% load static %}
{% block aboutus %}
<div class="aboutus-container">
 
    <h4 class="mb-3">About Our Company</h4>
    <b>Welcome to FashionMart</b>
    <p>We are passionate about showcasing Nepal and its incredible artistry. At FashionMart, 
    we have curated the finest Nepali craftsmanship, connecting you with unique products from 
    local artisans and creators.
    </p>
    <b>Our Story</b>
    <p>FashionMart was born out of a love for Nepal's rich culture and heritage. We aim to share this love with the world, offering everything from vibrant textiles to flavorful spices, bringing a piece of Nepal right to your doorstep.
    </p>
    <b>What We Offer</b>
    <p>Discover our diverse collection of handmade crafts, cozy home décor, delicious treats, and more. Each item tells a story, and we are thrilled to help you explore them all.
    </p>
    <b>Our Promise</b>
    <p>We are committed to the origins of our products. We collaborate closely with our vendors to ensure every product is made ethically and sustainably.
    </p>
    <b>Join Us</b>
    <p>Whether you are a vendor with extraordinary products or a shopper in search of something unique, we are here for you. Together, let's celebrate the beauty of Nepali craftsmanship.
    </p>
    <p>Thank you for choosing FashionMart. Let's spread the joy of Nepali crafts around the world.
    </p>    

</div>
{% endblock %}