{% load static %}
<div class="category-section">
  <h2>Categories</h2>
  <p>View All<i class='bx bx-chevron-right' ></i></p>
  <div class="category-container">
    <div class="myCategory">
      <img src="{% static 'myeSite/images/fashion-cat.png' %}" alt="fashion-logo">
      <h6 class="text-center mt-3">Fashion</h6>
    </div>
  
    <div class="myCategory">
      <img src="{% static 'myeSite/images/beauty-cat.jpg' %}" alt="beauty-logo">
      <h6 class="text-center mt-3">Beauty Product</h6>
    </div>

    <div class="myCategory">
      <img src="{% static 'myeSite/images/electronic-cat.jpg' %}" alt="electronic-logo">
      <h6 class="text-center mt-3">Electronics</h6>
    </div>

    <div class="myCategory">
      <img src="{% static 'myeSite/images/handicraft-cate.png' %}" alt="handicraft-logeo">
      <h6 class="text-center mt-3">Handicrafts</h6>
    </div>

    <div class="myCategory">
      <img src="{% static 'myeSite/images/watches-cat.jpg' %}" alt="watches-logo">
      <h6 class="text-center mt-3">Watches</h6>
    </div>

   

    
  </div>
  
</div>
