{% extends "main.html" %}
{% block changePassword %}

<div class="changePassword">
    <div class="password-container">
        <h2>Change Password</h2>    
        <div class="mypasswordchangeform">
            <form action="#" method="POST">
                {% csrf_token %}
                {% comment %} <input type="text" name="old_pass" placeholder="Old password"> {% endcomment %}
                <input type="text" name="new_pass" placeholder="New password">
                <input type="text" name="confirm_new_pass" placeholder="Confirm password">
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger {% if message.tags %}{{message.tags}}{% endif %}">{{message}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
