{% load static %}
<div class="featured-products">
    <h2 class="text-dark fs-4">Featured Products</h2>
    <p class="featured-para">View All<i class='bx bx-chevron-right' ></i></p>
   

        <div class="image-container">
            {% if items %}
            <div class="slider">
                {% for item in items %}
                <div class="slide">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    {% endif %}
                    <h3>{{ item.title }}</h3>
                    {% comment %} <span id="old-price"></span> {% endcomment %}
                    <span id="new-price">{{ item.price }}</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% comment %} <div class="slide">
                    <img src="{% static 'myeSite/images/t-shirt3.webp' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="slide">
                    <img src="{% static 'myeSite/images/fashion3.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span id="old-price">$135</span>
                    <span id="new-price">$130</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="slide">
                    <img src="{% static 'myeSite/images/fashion1.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="slide">
                    <img src="{% static 'myeSite/images/fashion2.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="slide">
                    <img src="{% static 'myeSite/images/fashion3.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <i class="fa-regular fa-eye" id="eye-link" onclick="showPopup()"></i>
                        </div>
                    </div>
                </div> {% endcomment %}
                <!-- Repeat for other slides -->


            </div>
            <button class="prev"><i class='bx bx-chevron-left' ></i></button>
            <button class="next"><i class='bx bx-chevron-right'></i></button>
            {% else %}
            <h2 class="text-center text-danger fw-bold">No Items Available</h2>
            {% endif %}
        </div>



        <div id="overlayforPopup"></div>
        {% comment %} popup {% endcomment %}
        <div class="popup-mainContaienr" id="popup">
            <div class="product-mainTitle">
                <p id="paraText" class="fs-4">Beautiful Black Kurthi</p>
                <i class='bx bx-chevron-right'></i>
                <i class='bx bx-x' id="close-btn" onclick="closePopup()"></i>
            </div>
            <div class="sub-container">
                <div class="left-imgPart">
                    <img id="main-image" src="{% static 'myeSite/images/t-shirt3.webp' %}" alt="fashion2">
                </div>
                <div class="right-infoPart">
                    <p class="fs-4">Beautiful Black Kurthi</p>
                    {% comment %} <p>ratings|reviews|orders|wishlistes</p> {% endcomment %}
                    <span id="new-price" class="fs-4">Rs. 1500</span>
                    <span id="old-price" class="fs-4">Rs. 1700</span>
                    
    
                    <div class="color-chooser">
                        <p id="paraText" class="fs-5">Available Color : </p>
                        <input type="radio" name="radioBtn" id="radioBtn">Black
                        <input type="radio" name="radioBtn" id="radioBtn">White
                    </div>
                  
                    
    
        <div class="quantity-container">
            <p>Quantity :</p>
            <div class="quantity-minusPlus">
                <i class='bx bx-minus' onclick="decreaseQuantity()"></i>
                <input type="text" id="quantity-input" class="quantity-input" value="1" readonly>
                <i class='bx bx-plus' onclick="increaseQuantity()"></i>
            </div>
            
         
        </div>
        
        <div class="popup" id="popup-stockExceedMsg">
            <p>Sorry, stock limit exceeded!</p>
            <button onclick="closeExceedPopup()">OK</button>
        </div>
                   
                    <h5>Total Price : <span>Rs. 1500</span></h5>
                    <button id="buyNow">Buy Now</button>
                    <button id="addToCart">Add to cart</button>
                    <button><i id="heart-icon" class='bx bx-heart' onclick="toggleHeart()"></i><sub>0</sub></button>
                </div>
            </div>
            <div class="remaining-img">
                <div class="img1">
                    <img src="{% static 'myeSite/images/t-shirt1.png' %}" alt="img1" onclick="updateMainImage(this)">
                </div>
                <div class="img1">
                    <img src="{% static 'myeSite/images/t-shirt2.webp' %}" alt="img2" onclick="updateMainImage(this)">
                </div>
              
           
            </div>
        </div>
        {% comment %} end popup {% endcomment %}





        
        
       

</div>