{% load static %}
<div class="aboutSystem">
    <a href="{% url 'aboutus' %}"><img src="{% static 'myeSite/images/about-us-image.png' %}" alt="aboutus-img"></a>
    <a href="{% url 'contactus' %}"><img id="contact-image" src="{% static 'myeSite/images/contact-us-img.png' %}" alt="contactus-img"></a>
    <img src="{% static 'myeSite/images/faq-img.png' %}" alt="faq-img">
</div>

<div class="footer">
    <div class="content">
        <h1>FashionMart</h1>
        <p>Keep in Touch</p>
        <i class='bx bxl-facebook-circle' ></i>
        <i class='bx bxl-instagram-alt' ></i>
        <i class='bx bxl-twitter' ></i>
    </div>
    <div class="content1">
        <h2>Categories</h2>
        <h6> <a href="#">Fashion</a></h6>
        <h6> <a href="#">Electronics</a></h6>
        <h6> <a href="#">Beauty Products</a></h6>
        <h6> <a href="#">Handicrafts</a></h6>
        <h6> <a href="#">Watches</a></h6>
    </div>
    <div class="content2">
        <h2>Account & Shipping Info.</h2>
        <h6><a href="#">Profile Info.</a></h6>
        <h6><a href="#">Wish List</a></h6>
        <h6><a href="#">Refund Policy</a></h6>
        <h6><a href="#">Return Policy</a></h6>
        <h6><a href="#">Cancellation Policy</a></h6>
    </div>
    
</div>
