{% extends "main.html" %}
{% load static %}

{% block title %}eCommerce | Fashion{% endblock %}



{% block mainSection %} {% include "myeSite/mainSection.html" %}{% endblock %}
{% block featureProductsSection %} {% include "myeSite/featuredProducts.html" %}{% endblock %}
{% block categorySection %} {% include "myeSite/category.html" %}{% endblock %}
{% block newArrivalSection %} {% include "myeSite/newArrivals.html" %}{% endblock %}
{% block watchesSection %} {% include "myeSite/watches.html" %}{% endblock %}

