{% extends "main.html" %}
{% load static %}
{% block title %}Login|Signup{% endblock %}


{% block signIn %}
    <div class="signin-container h-100 w-100 mt-5 d-flex align-items-center justify-content-center ">
        
        <div class="signin-module">
            <form class="login-form w-75 mt-0" method='POST'>
                {% csrf_token %}
                {% if errors %}
                {% for error in errors %}
                <p class="ms-0 text-danger fw-bold">{{error}}</p>
                {% endfor %}
                {% elif messages %}
                {% for message in messages %}
                <p class="text-success fw-bold ms-0" {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}
                {% endif %}
                <h2 class="mb-4 text-start fs-5"><span class="fw-semibold ms-0 fs-4">Login</span> | <span class="fw-semibold ms-0 fs-4">Signin</span></h2>
    
                <div class="fields">
                    <input type="text" name="username" id="username" class="p-2 w-100 mb-3" placeholder="Username" autocomplete="off" required>
                    <input type="password" name="password" id="passoword" class="p-2 w-100 mb-3" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="fields d-flex align-items-center">
                    <input type="checkbox" name="rememberme" id="rememberme"><p class="ms-1" id='rememberMe'>Remember me</p>
                    <a href="#" id="forgotpass">Forgot Password ?</a>
                </div> 
                <button type="submit" class="continue-btn text-light fw-semibold w-100 ms-0">Login</button>
                <p class="ms-0 mt-0">Don't have an account? <a href="{% url 'signup' %}">Click here.</a></p>
            </form>
        </div>

    </div>

{% endblock %}