{% load static %}

<header>
    <a href="/" class="logo"><h2>FashionMart</h2></a>
    <ul class="navmenu">
        <li><a href="/">Home</a></li>
        <div class="dropdown">
            <li><a href="#">Women's Wear</a></li>
            <div class="category-dropdownlist">
                <div class="mycatcontainer">
                    <div class="categories">
                        <h6 id="cat-head">Top Wear</h6>
                        <p><a href="{% url 'tshirt' %}">T-Shirts</a></p>
                        <p>Shirts</p>
                        <p>Sweaters & Cardigans</p>
                        <p>Hoodies & Sweatshirts</p>
                        <p>Jackets & Coats</p>
                    </div>
                    <div class="categories">
                        <h6 id="cat-head">Bottom Wear</h6>
                        <p>Jeans</p>
                        <p>Trousers</p>
                        <p>Shorts</p>
                        <p>Swimwear</p>
                        <p>Activewear Bottoms</p>
                    </div>
                    <div class="categories">
                        <h6 id="cat-head">Foot Wear</h6>
                        <p>Sneakers</p>
                        <p>Casual Shoes</p>
                        <p>Dress Shoes</p>
                        <p>Boots</p>
                        <p>Sandals & Flip Flops</p>
                    </div>
                    <div class="categories">
                        <h6 id="cat-head">Accessories</h6>
                        <p>Watches</p>
                        <p>Belts</p>
                        <p>Wallets</p>
                        <p>Sunglasses</p>
                        <p>Bags & Backpacks</p>
                    </div>
                </div>
             
            </div>
        </div>


        <li><a href="#">Men's Wear</a></li>
        <li><a href="#">Kid's Wear</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <div class="nav-icon">
        <form action="#" method="post">
            {% csrf_token %}
            <input type="text" name="search" id="searchBar" placeholder="Search">
        </form>
        <a href="#"><i class='bx bx-search' id="searchIcon"></i></a>
        <a href="#"><i class='bx bx-heart'></i></a>
        <a href="#"><i class='bx bx-cart' ><sup class="text-success fw-bold">2</sup></i></a>

        <div class="dropdown">
            <a href="#"><i class='bx bx-user' id="usericon" ></i></a>
            <div class="dropdownlist" id="mydropdown">
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="#">Sign Out</a></li>
            </div>
        </div>
        
        


        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>