{% load static %}

<div class="new-arrivals">
    
    <h3>New Arrivals</h3>
    <div class="newArrivalImage-container">
     
        <div class="newArrival-product">
            <img src="{% static 'myeSite/images/fashion1.jpg' %}" alt="fashion1">
            <div class="info">
                <h4 class="title">Product 1</h4>
                <p>$100</p>
            </div>
        </div>
    
        <div class="newArrival-product">
            <img src="{% static 'myeSite/images/fashion2.jpg' %}" alt="fashion1">
            <div class="info">
                <h4 class="title">Product 1</h4>
                <p>$100</p>
            </div>
        </div>

        <div class="newArrival-product">
            <img src="{% static 'myeSite/images/fashion3.jpg' %}" alt="fashion1">
            <div class="info">
                <h4 class="title">Product 1</h4>
                <span id="old-price">$100</span>
                <span id="new-price">$89</span>

            </div>
        </div>

        <div class="newArrival-product">
            <img src="{% static 'myeSite/images/fashion1.jpg' %}" alt="fashion1">
            <div class="info">
                <h4 class="title">Product 1</h4>
                <p>$100</p>
            </div>
        </div>

        <div class="newArrival-product">
            <img src="{% static 'myeSite/images/fashion3.jpg' %}" alt="fashion1">
            <div class="info">
                <h4 class="title">Product 1</h4>
                <p>$100</p>
            </div>
        </div>
    

    </div>

    
    

</div>