{% extends "main.html" %}
{% load static %}
{% block title %}Login|SignIn{% endblock %}

{% block navbar %}{% endblock %}
{% block mainSection %}{% endblock %}
{% block featuredProducts %}{% endblock %}
{% block category %}{% endblock %}
{% block newArrivals %}{% endblock %}
{% block watches %}{% endblock %}

{% block signIn %}
    <div class="signin-container">
        <div class="signInImage">
            <img src="{% static 'myeSite/images/image.png' %}" alt="">
        </div> 
        <div class="signin-module">
            <form class="login-form">
                {% csrf_token %}
                <h2>Signup</h2>
                <div class="input-group">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname" required>
                </div>
                <div class="input-group">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname" required>
                </div>
                <div class="input-group">
                    <label for="phoneno">Phone no</label>
                    <i class='bx bx-phone' id="emailIcon"></i>
                    <input type="number" id="phoneno" name="phoneno" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <i class='bx bxs-envelope' id="emailIcon"></i>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <i class='bx bxs-lock' id="emailIcon"></i>
                    <input type="password" id="password" name="password" required>
                    <i class='bx bxs-hide' id="togglePass" onclick="togglePassword()"></i>
                </div>
                <button type="submit" class="login-btn">Signup</button>
                <p class="signup-text">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
            </form>
        </div>
    </div>

{% endblock %}