{% extends "main.html" %}
{% load static %}
{% block title %}Login|SignIn{% endblock %}



{% block signUp %}

<div class="container">
    <div class="card">
        {% if errors %}
        {% for error in errors %}
        <p class="text-danger ms-0 fw-bold mb-0">{{error}}</p>
        {% endfor %}
        {% endif %}
        <h2 class="mb-4 mt-2">Signup | Register</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-row d-flex gap-1 mb-4">
                <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder='Ex: Jhon' required>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder='Ex: Doe'  required>
                </div>
            </div>
            <div class="form-row d-flex gap-1 mb-4">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
            </div>
            <div class="form-row d-flex gap-1">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Minimum 6 characters long" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                </div>
            </div>
            <div class="terms-conditions d-flex align-items-center">
                <input type="checkbox" name="rememberme" id="rememberme"><p>I agree to your<a href="#" class="fw-bold">Terms and Conditions.</a></p>
            </div>
            <button type="submit" class="btn btn-success btn-block w-100 fw-bold ms-0 mb-0">Sign up</button>
        </form>
        <p class="ms-0 fw-light">Already have an account?<a href="{% url 'login' %}" class="fw-bold ms-1"> Login.</a></p>
    </div>
</div>
{% endblock %}