{% load static %}
<div class="watches">
    <h2 class="text-center fs-3">Watches</h2>
    <p>View All<i class='bx bx-chevron-right' ></i></p>
   

        <div class="watchimage-container">
            <div class="watch-slider">
                <div class="watch-slide">
                    <img src="{% static 'myeSite/images/watch1.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span id="old-price">$105</span>
                    <span id="new-price">$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{% static 'myeSite/images/watch2.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <img src="{% static 'myeSite/images/watch3.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span id="old-price">$135</span>
                    <span id="new-price">$130</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <img src="{% static 'myeSite/images/watch4.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <img src="{% static 'myeSite/images/watch5.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <img src="{% static 'myeSite/images/watch1.jpg' %}" alt="Product 1">
                    <h3>Product 1</h3>
                    <span>$100</span>
                    <div class="watch-overlay">
                        <div class="eye-icon">
                            <a href="#"><i class="fa-regular fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Repeat for other slides -->
            </div>
            <button class="previous"><i class='bx bx-chevron-left' ></i></button>
            <button class="nextt"><i class='bx bx-chevron-right'></i></button>
        </div>
        
</div>