<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'myeSite/images/fashion-cat.png' %}" sizes="32x32">
    <title>{% block title %}eCommerce | main{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'myeSite/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myeSite/css/style.css' %}">

</head>
<body>

    <div class="whole-container">
        {% block navbar %} {% include "myeSite/navbar.html" %} {% endblock %}

        {% block mainSection %}{% endblock %}
        {% block featureProductsSection %}{% endblock %}
        {% block categorySection %}{% endblock %}
        {% block newArrivalSection %}{% endblock %}
        {% block watchesSection %}{% endblock %}
        {% block contactus %}{% endblock %}
        {% block aboutus %}{% endblock %}


        {% block tShirt %}{% endblock %}
        {% block tshirtDetails %}{% endblock %}

        {% block cart %}{% endblock %}
        {% block wishlist %}{% endblock %}

        {% block shippingAddress %}{% endblock %}
        {% block billingAddress %}{% endblock %}
        
        {% block payment %}{% endblock %}
        {% block order_confirmation %}{% endblock %}

        {% block signIn %}{% endblock %}
        {% block signUp %}{% endblock %}

        {% block changePassword %}{% endblock %}




        {% block footer %} {% include "myeSite/footer.html" %}{% endblock %}
       
    </div>






    
    <script src="{% static 'myeSite/js/script.js' %}"></script>
    <script src="{% static 'myeSite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myeSite/js/all.min.js' %}"></script>
    <script src="{% static 'myeSite/js/popper.js' %}"></script>


    
</body>
</html>