{% extends "main.html" %}
{% block title %}e-Commerce | Shipping-Address{% endblock %}
{% comment %} {% block navbar %} {% endblock %}
{% block footer %} {% endblock %} {% endcomment %}
{% block shippingAddress %}

<div class="shipping-container mb-4">

    <div class="container mt-0">
        <h2 class="form-title text-start mb-4">Shipping Address</h2>
        <form action="#" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              {% comment %} <div class="form-group mb-3">
                <label for="email" class="form-label">Email Address <sup class="text-danger fw-bold">*</sup></label>
                <input type="email" class="form-control mb-0" id="validEmail" name="email" placeholder="Enter your valid email address." autocomplete="off" required>
                <p id="emailError" class="mt-0 ms-0 text-danger fw-semibold email-address">Please enter a valid email address.</p>
              </div> {% endcomment %}
              <div class="form-group mb-3">
                <label for="fullname" class="form-label">Full Name <sup class="text-danger fw-bold">*</sup></label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your fullname" required>
              </div>
              <div class="form-group mb-3">
                <label for="shippingAvailableCity" class="form-label">City</label>
                <select class="form-control" id="shippingAvailableCity" name="shippingAvailableCity" required>
                  <option value="standard" disabled>Currently Shipping available on these city only.</option>
                  <option value="Biratnagar">Biratnagar</option>
                  <option value="Dharan">Dharan</option>
                  <option value="Ithari">Ithari</option>
                  <option value="Jhapa">Jhapa</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter your street address" autocomplete="on" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="phone" class="form-label">Contact Number</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your contact number" autocomplete="on" required>
              </div>
              
              <div class="form-group mb-3">
                <label for="shippingOptions" class="form-label">Shipping Options</label>
                <select class="form-control" id="shippingOptions" name="shippingOptions" required>
                  <option value="standard">Standard Shipping (3-5 days) - Free</option>
                  <option value="express">Express Shipping (2-3 days) - Rs.150</option>
                  <option value="overnight">Overnight Shipping (1 day) - Rs. 250</option>
                </select>
              </div>

              {% comment %} <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="sameAsBilling" name="sameAsBilling">
                <label class="form-check-label" for="sameAsBilling">Use same for billing address?</label>                
              </div> {% endcomment %}

              <div class="form-group mt-4">
                <button type="submit" class="btn btn-success btn-lg w-100">Save and Continue</button>
              </div>

            </div>
          </div>
        </form>

      </div>

</div>

{% comment %} 
<script>
    document.getElementById('shippingForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent default form submission
  
      var sameAsBilling = document.getElementById('sameAsBilling').checked;
  
      if (sameAsBilling) {
        // If checkbox is checked, proceed to payment
        window.location.href = '/payment';
      } else {
        // If checkbox is not checked, show billing address form
        window.location.href = '/billingAddress';
      }
    });
  </script> {% endcomment %}
{% endblock %}